asgiref==3.9.1
dj-database-url==3.0.1
Django==4.2.23
django-cors-headers==4.7.0
django-environ==0.12.0
django-filter==25.1
django-parler==2.3
django-parler-rest==2.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
packaging==25.0
Pillow==10.4.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
sqlparse==0.5.3
typing_extensions==4.15.0
